body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  margin-top: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Dancing Script', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  background-color: #c3edea;
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.bottom-container {}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.interface.img{
  width:25%;
  float: left;
}

.sports.img{
  width:25%;
}
